*{margin: 0; padding: 0;}

body{
    
}
.home-main-wrap{
    background:url('../../assets/img/homepagepict.jpg');
    background-attachment:fixed;
    background-size:cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

/* ----------------------------------------    sidebar   ---------------------------------------------*/
.side-nav{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    width:250px;
    /*display: none;*/
    position: fixed;
    top: 0;
    left: -250px;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    font-weight: bold;
    color: #3b5998;
}
.sidebar-top{
    padding: 16px 10px 16px 30px;
    border-bottom: 2px solid #3b5998;
}
.sidebar-top .btn-close{
    font-size: 28px;
}
.sidebar-item{
    padding: 20px 10px 20px 30px;
    margin: 5px 0;
}
.sidebar-item-text{
    margin-left: 30px;
}
.side-nav a{
    text-decoration: none;
    font-size: 15px;
    color: #3b5998;
}
.side-nav a.pesan-side{
    border-top: 1.3px solid black;
    border-bottom: 1.3px solid black;
}
.side-nav img.logo-sidebar{
    width: 150px;
    height: 110px;
    position: center;
    margin-left: 50px;
    padding-top: 20px;
}
.inner-menu-text{
    margin-left: 21px;
}
.border-top-bot{
    border-top: 1px solid #3b5998;
    border-bottom: 1px solid #3b5998;
}
.btn-close{
    cursor: pointer;
}
  /* ----------------------------------------  END SIDEBAR   ---------------------------------------------*/






/* ----------------------------------------navbar atas---------------------------------------------*/
.top-logo-container{
    position:fixed;
    z-index: 999;
    top: 0;
    text-align: center;
    width: 30%;
    left: 50%;
    transform: translateX(-50%);
}
.top-logo{
    margin-top: 10px;
    width: 35px;
    height: 50px;
}
.open-slide{
    float: left;
    font-size: 28px;
    margin: 17px 5px;
    cursor: pointer;
}

.navbar{
    position: fixed;
    width: 100%;
    height: 70px;;
    top: 0;
    background-color: #3b5998;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
nav ul li{
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li a{
    text-decoration: none;
    padding: 22.5px 16px;
    color: white;
}
.right{
    float: right;
}
.border-button{
    margin: 12px 5px;
    font-size: 14px;
    color: white;
    padding: 10px 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #72B537;
    border-radius: 50px;
}
.fill-button{
    margin: 12px 5px;
    font-size: 14px;
    color: white;
    background-color: #72B537;
    padding: 10px 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #72B537;
    border-radius: 50px;
}
.fill-button-blue{
    margin-left: -5px;
    margin-right: 15px;
    font-size: 14px;
    color: white;
    background-color: #3b5998;
    padding: 10px 20px;
    border-style: solid;
    border-width: 0px;
    border-radius: 50px;
}


@media only screen and (max-width: 600px) {

    .border-button, .fill-button{visibility: hidden;}
    .menu-text{visibility: hidden;}
    body {overflow-x: hidden;}
  }
/* --------------------------------------END navbar atas-------------------------------------------*/








/* -------------------------------properti beranda fullscreen with blue overlay------------------------------------*/
.fullscreen-overlay{
    width: 100%;
    height: 100vh;
    background-color: #48659C;
    opacity: 0.65;
    z-index: -1;
}
.home-middle-text-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 768px;
    height: 260px;
    text-align: center;
    color: white;
    /*background-color: red; */
}
.home-middle-text-title{
    font-weight: bold;
    font-size: 36px;
}
.home-middle-text-subtitle{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 35px;
}
.home-middle-button{
    font-weight: bold;
    font-size: 18px;
    margin-top: 35px;
    color: white;
    text-decoration: none;
}
@media only screen and (max-width: 600px) {

    .home-middle-text-container{width: 90%;}
  }
/* -----------------------------END properti beranda fullscreen with blue overlay----------------------------------*/





/* --------------------------------container utama home konten web---------------------------------------*/
.home-content-wrapper{
    background-color: white;

}
/* --------------------------------END container utama home konten web-------------------------------------*/





/* ----------------------------------container utama konten web---------------------------------------*/
.main-content-wrapper{
    background-color: white;
    margin-top: 70px;
}
/* --------------------------------END container utama konten web-------------------------------------*/





/* -----------------------------------box buat artikel dan promosi------------------------------------------*/
.box-slider-container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 90%;
    margin: auto;
    overflow: hidden;
    text-align: center;
    padding-bottom: 50px;
    /* border: 2px solid green; */
}
.box-container{
    display: inline-block;
    width: 325px;
    text-align: left;
    height: 300px;
    margin: 10px;
    /* border: 2px dashed red; */
}
.box-content{
    margin: 5px 0;
}
.box-img{
    width: 325px;
    height: 200px;
}
.box-title{
    font-size: 20px;
    color: #3b5998;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .box-container{text-align: center;}    
}
/* ----------------------------------END box buat artikel dan promosi----------------------------------------*/





/* -----------------------------------box buat artikel dan promosi------------------------------------------*/
.list-container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding-bottom: 50px;
    background-color: red;
    /* border: 2px solid green; */
}
.list-box-container{
    width: 100%;
    text-align: left;
    height: 300px;
    margin:20px 0;
    background-color: orange;
    /* border: 2px dashed red; */
}
.list-box-content{
    float: left;
    background-color: yellow;
}
.list-box-img{
    width: 30%;
    height: 200px;
    background-color: green;
}
.list-box-text{
    width: 70%;
}
.list-box-title{
    font-size: 20px;
    color: #3b5998;
    font-weight: bold;
}
/* ----------------------------------END box buat artikel dan promosi----------------------------------------*/






/* ----------------------------------------judul tengah-------------------------------------------------*/
.middle-title{
    font-size: 28px;
    color: #3b5998;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 70px 0 50px 0;
}    
/* ----------------------------------------END judul tengah----------------------------------------------*/





/*-*/





/* -----------------------------------grid buat footer------------------------------------------*/
.footer{
    margin-top: 50px;
}
.footer-grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #72B537;
    padding: 10px;
}
.grid-item {
    /* background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    font-size: 15px;
    text-align: center;
}
.grid-item-content{
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.grid-item-content ul li{
    list-style-type: none;
}
.grid-item-content ul li a{
    text-decoration: none;
    list-style-type: none;
    color: white;
}
/* -----------------------------------END grid buat footer------------------------------------------*/



.cutomer-reviews-container{
    width: 100%;
    height: 600px;
    background-color: rgb(232, 232, 232);
}

.slider-container{

}

.slider {
    width: 86%;
    margin: auto;
    bottom: 0;
}

.slider-panel{
    width: 320px;
    height: 480px;
    border: 0px;
    border-radius: 10px;
    background-color: white;
}

.slick-slide {
    margin: 55px 20px;
}

.slick-prev:before,
.slick-next:before {
    color: red;
}


.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}
    
.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}
.ball{
    width: 120px;
    height: 120px;
    border: 0px;
    border-radius: 100px;
    background-color: #48659C;
    margin: 32px auto;
}
.customer-slider-name{
    font-size: 16px;
    font-weight: bold;
    color: #48659c;
    text-align: center;
    margin: 12px 20px;
}
.slider-text{
    max-width: 80%;
    color: grey;
    font-size: 16px;
    text-align: center;
    margin: 20px auto;
}