*{padding: 0; margin: 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

body{
  background-color: #e3e3e3;
}

.main-wrapper{
  width: 400px;
  height: 600px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0px;
  border-radius: 20px;
}

.container{
  /*padding: 16px 0;*/
}

.form-container{
  margin: 30px;
}

.imgcontainer{
  width: 100px;
  margin: 30px auto;
}
.avatar{
  width: 100px;
  height: auto;
}

label{
  display: block;
  color: #3b5998;

}
input[type=text], input[type=password] {
  display: block;
  padding: 10px;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin: 5px auto;
}

.positive-button{
  background-color: #72B537;
  font-weight: bold;
  display: block;
  width: 82%;
  color: white;
  padding: 12px 20px;
  margin: 12px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.negative-button{
  background-color: #3b5998;
  display: block;
  width: 82%;
  color: white;
  padding: 8px 20px;
  margin: 12px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.bottom-text{
  margin: 30px;
}





@media only screen and (max-width: 600px){
  .main-wrapper{
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }
}