*{margin: 0; padding: 0;}

body{
    background-attachment:fixed;
    background-size:cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


/* ----------------------------------------    navbar   ---------------------------------------------*/
.navbar1{
    background-color: #3b5998;
    height: 60px;
    top:0px;
    position: fixed;
    width: 100%;
    z-index: 4;
        
}
img.navbar1 {
    padding-top: 0px;
    padding-right:15px;
    margin-top: -5px;
    width: 35px;
}
.logo {
    padding-top: 10px;
    padding-right: 10px;
    width: 35px;
    height: 14px;
    position: relative;
    background-image: white;    

}
.navbar1 p{

    padding-bottom: 5px;
    display: inline-block;
    padding-bottom: 0px;
    font-size: 20px;
    margin-top: 5px;
}

.navbar1 a{
    float: left;
    display: inline-block;
    color:#f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar-nav1 ul{
    margin: 0px 0 0 0;
    list-style: none;
    position: relative;
    float: right;
    display: inline-flex;
    margin-top: 0px; 
}
.logo a img{
    width: 55px;
    height: 55px;
    margin-top: -70px;
    position: fixed;
    float: right;
    display: inline-block;
    left: 48%;
    
}
.logo a.img-link img:hover{
    background: transparent;
}
.navbar1 a:hover{
    background-color: transparent;
    color: #000;
}


/* --                   side nav                    --*/
.side-nav{
    height: 100%;
    width:0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 1;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.side-nav a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 15px;
    color: #000;
    display: block;
    transition: 0.3s;
    margin-top: 15px;
}
.side-nav a.pesan-side{
    border-top: 1.3px solid black;
    border-bottom: 1.3px solid black;
}
.side-nav img.logo-sidebar{
    width: 150px;
    height: 110px;
    position: center;
    margin-left: 50px;
    padding-top: 20px;
}
.side-nav a:hover{
    color: #555;

}
.side-nav .btn-close{
    position: absolute;
    top:-5px;
    left: 0px;
    padding-right: 10px;
    font-size: 18px;
    margin-left: 0px;
    border-bottom: 1.5px solid black;   
    width: 100%; 
}
.side-nav img{

    padding-right: 10px;
}
  /* ----------------------------------------  END NAVBAR   ---------------------------------------------*/





/* ----------------------------------------navbar atas---------------------------------------------*/
nav ul li{
    list-style-type: none;
    display: inline;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a{
    text-decoration: none;
    padding: 22.5px 16px;
    color: white;
}
.right{
    float: right;
}
.border-button{
    margin: 2px 2px;
    font-size: 12px;
    color: white;
    padding: 2px 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #72B537;
    border-radius: 50px;
}
.fill-button{
    margin: 2px 2px;
    font-size: 12px;
    color: white;
    background-color: #72B537;
    padding: 2px 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #72B537;
    border-radius: 50px;
}
.lng-button{
    margin-top: 5px;
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {

    .border-button, .fill-button{visibility: hidden;}
    .navbar-menu-text{visibility: hidden;}
  }
/* --------------------------------------END navbar atas-------------------------------------------*/
